<h1><%= user.fullName %>'s profile.</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <td><%= user.fullName %> </td>
    </tr>
    <tr>
        <th>Username</th>
        <td><%= user.userName %> </td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= user.email %> </td>
    </tr>
    <tr>
        <th>Gender</th>
        <td><%= user.gender %> </td>
    </tr>
    <tr>
        <th>Date of birth</th>
        <td><%= user.DOB %> </td>
    </tr>
    <tr>
        <th>Location</th>
        <td><%= user.city %> <%= user.state %> </td>
    </tr>
    <tr>
        <th>Biography</th>
        <td><%= user.biography %> </td>
    </tr>
</table>